<body id="taiko-web">
    <div id="assets"></div>
    
    <div id="screen"></div> 

    <div id="loader">
        <div id="loader-inner">
            <div id="loader-circles">
                <div></div><div></div><div></div>
            </div>
        </div>
    </div>

    <div id="canvas-container">
        <div id="song-select" class="view-hidden">
            <canvas id="song-sel-canvas"></canvas>
            <div id="song-sel-selectable"></div>
        </div>
        <div id="custom-songs" class="view-hidden"></div>
    </div>

    <script src="/src/js/assets.js" defer></script>
    <script src="/src/js/strings.js" defer></script>
    <script src="/src/js/pageevents.js" defer></script>
    <script src="/src/js/loader.js" defer></script>
    <script src="/src/js/tjaparser.js" defer></script>
    <script src="/src/js/keyboard.js" defer></script>
    <script src="/src/js/gamepad.js" defer></script>
    <script src="/src/js/soundbuffer.js" defer></script>
    <script src="/src/js/canvascache.js" defer></script>
    <script src="/src/js/canvasdraw.js" defer></script>
    <script src="/src/js/songselect.js" defer></script>
    <script src="/src/js/titlescreen.js" defer></script>
    <script src="/src/js/customsongs.js" defer></script>
    <script src="/src/js/main.js" defer></script>
</body>
